h4 {
    font-weight: 600;
    margin-top: 20px;
}

ul > li > ul > li {
    list-style: "";
}

/** Anchor hover links **/
/** Liberated from octicons.css and infusion-docs.css **/

@font-face {
    font-family: 'octicons';
    src: url('octicons.eot?#iefix') format('embedded-opentype'),
    url('octicons.woff') format('woff'),
    url('octicons.ttf') format('truetype'),
    url('octicons.svg#octicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*

.octicon is optimized for 16px.
.mega-octicon is optimized for 32px but can be used larger.

*/
.octicon, .mega-octicon {
    font: normal normal normal 16px/1 octicons;
    display: inline-block;
    text-decoration: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.mega-octicon { font-size: 32px; }

.octicon-link:before { content: '\f05c'} /*  */
.octicon-link-external:before { content: '\f07f'} /*  */

.infusion-docs-anchor {
    margin-left: -3rem;
    padding-right: 4px;
    position: absolute;
}

.infusion-docs-anchor .octicon-link {
    color: #000;
    vertical-align: middle;
    visibility: hidden;
}

a.infusion-docs-anchor:hover {
    background: inherit;
}

h1:hover .octicon-link,
h1:focus .octicon-link,
h2:hover .octicon-link,
h2:focus .octicon-link,
h3:hover .octicon-link,
h3:focus .octicon-link,
h4:hover .octicon-link,
h4:focus .octicon-link {
    visibility: visible;
}

.infusion-docs-anchor span {
    font-size: 2.5rem
}

.infusion-docs h2 {
    margin-left: -0.5rem;
}

.post-single h3 {
    margin-left: -0.5rem;
}

/** This is what is emitted by the Hugo "figure" shortcode **/

.box {
    margin: 1em auto;
}

figure {
}

figcaption {
    display: flex;
    justify-content: center;
    font-size: smaller;
}


.hljs-comment, .hljs-quote {
    font-style: unset;
}

.navbar-ponder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.community-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.community-picture {
    width: 30%;
}

.community-desc {
    width: 70%;
    margin-left: 30px;
}

a.front-link {
    color: #404040;
}

a.malleable-picture {
    background-color: #000;
    color: hsla(0,0%,100%,.9);
    display: flex;
}

.boxer-picture a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.boxer-picture img {
    margin: 0;
}

.boxer-boxer-picture {
    position: relative;
    bottom: -10px;
}

@media (max-width: 620px) {
    a.malleable-picture {
        flex-direction: column;
    }
}

.avatar-img {
    width: 128px;
    height: 128px;
}

@media (max-width: 768px) {
    a.malleable-picture {
        flex-direction: column;
    }

    .avatar-img {
        width: 64px;
        height: 64px;
    }

    .community-row {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .community-picture {
        margin-bottom: 10px;
        width: 70%;
    }

}


/** Another of the mad bootstrap breakpoints - move our headings into the margin on big pages **/

@media (min-width: 992px) {
    .ponder-front-page .ponder-content h2 {
        margin-left: -8%;
        margin-top: 45px;
    }

    .infusion-docs h2, .post-single h2 {
        margin-left: -3rem;
    }

    .post-single h3 {
        margin-left: -2rem
    }
}

a.malleable-picture * {
    margin: 7px 12px;
}

a.dci-picture {
    background-color: #342f25;
    height: 65px;
    color: #ffffff;
    display: flex;
}

.dci-picture img {
    max-width: 90%;
    max-height: 100%;
}

.media-icons {
    margin-top: 30px;
    height: 0;
}
