<div class="media-icons">
  <a title="Twitter profile" href="http://twitter.com/amb26ponder"><i class="fab fa-twitter"></i></a>
  <a title="Send me a message" href="mailto:amb26webpage@ponder.org.uk"><i class="fa fa-envelope"></i></a>
  <a title="Antranig's GitHub profile" href="http://github.com/amb26"><i class="fab fa-github-alt"></i></a>
  <a title="My papers on DBLP" href="https://dblp.org/pid/68/5013.html"><i class="fa fa-university"></i></a>
  <a title="My LinkedIn profile" href="https://www.linkedin.com/in/antranigbasman/"><i class="fab fa-linkedin"></i></a>
</div>
